.wrapper {
    // dung truc main nam ngang
    display: flex;
    // dung thang dung truc main
    flex-direction: column;
    // do co 2 item trong: container, header
    align-items: center;
}

.container {
    padding-left: calc(var(--default-layout-horizontal-spacer) / 2);
    width: var(--default-layout-width);
    min-height: 1000px;
    // phan tu fixed khong nam trong layout
    margin-top: var(--default-layout-header-height);
    // background-color: #333;
    display: flex;
    //max-width: 100%;
}
.content {
    flex: 1;
    //background-color: #ccc;
    // neu content nhieu hon thi kich thuoc sai se giup sua code
    // de hon
    min-height: 800px;
    padding-right: 240px;

    position: relative;
    // justify-content: center;
    //align-items: center;
}
